
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fffdf6;
    color: #2f2f2f;
    text-align: center;
}

.encabezado {
    background: linear-gradient(to bottom, #fff8e1, #f3e5ab);
    padding: 30px 20px;
    border-bottom: 5px solid #bb6c27;
    position: relative;
}

.logo {
    max-width: 130px;
    display: block;
    margin: 0 auto 10px;
}

h1 {
    font-size: 40px;
    color: #2f2f2f;
    margin: 10px 0 5px;
}

h2 {
    font-size: 20px;
    color: #bb6c27;
    margin-bottom: 5px;
}

.estrellas {
    font-size: 24px;
    color: #f0b429;
    margin-top: 10px;
}

main {
    padding: 30px 20px;
}

h3 {
    font-size: 24px;
    margin-top: 40px;
    color: #2f2f2f;
}

p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
    margin-top: 20px;
}

li {
    margin: 12px 0;
}
