
body {
    font-family: 'Arial', sans-serif;
    background-color: #fefefe;
    color: #2e2e2e;
    text-align: center;
    margin: 0;
    padding: 0;
}

.encabezado {
    background-color: #fefefe;
    padding: 40px 20px 20px;
    border-bottom: 5px solid #bb6c27;
}

.logo {
    max-width: 180px;
    margin: auto 20px 20px;
    display: block;
}

h1 {
    color: #2e2e2e;
    font-size: 36px;
    margin: 10px 0 5px;
}

.eslogan {
    color: #bb6c27;
    font-size: 20px;
    margin: 0;
}

.contenido {
    padding: 40px 20px;
}

h2 {
    color: #bb6c27;
}

.productos {
    list-style: none;
    padding: 0;
    font-size: 18px;
    margin-top: 20px;
}

.productos li {
    margin: 10px 0;
}

.pie {
    background-color: #fefefe;
    color: #2e2e2e;
    padding: 30px 20px;
    border-top: 2px solid #bb6c27;
    font-size: 16px;
}

.pie a {
    color: #bb6c27;
    text-decoration: none;
}

.pie a:hover {
    text-decoration: underline;
}
